/* **********************ALL********************* */

body {
    background-color:rgba(47, 79, 79, 0.5) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15vw;
    margin-right: 15vw;
}

/* **********************HEADER********************* */
h1 {
    text-align: center;
    margin:4vh 0 4vh 0;
    color: antiquewhite;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:1px solid black;
    border-radius: 5px;
    background-color:darkslategrey;
    color:antiquewhite
}

a {
    text-decoration: none;
    color:antiquewhite
}

.navigate {
    display: inline-block;
    padding : 2vh 2vw 2vh 2vw;
}


/* **********************MAIN********************* */
.container {
    border:1px solid black;
    border-radius: 5px;
    background-color:darkslategrey;
    color:antiquewhite;
    padding: 2vh 2vw 2vh 2vw;
    margin-top : 4vh;
}

/* **********************INDEX ********************* */

.imgWelcome {
    display: flex;
    justify-content: center;
    max-width : 50vw;
    margin: auto;
}

/* **********************REGISTRATION & LOGIN ********************* */
/* CSS for global setting of form div common with the rules div in the index*/

.title {
    text-align: center;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 2vh 2vw 2vh 2vw;
}

.fieldSet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.registerBtn {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5vh;
}

button {
    padding: 1vh 2vw 1vh 2vw;
    border: 0px ;
    border-radius: 5px;
}

.btn {
    color:black
}

input, select {
    border: 0px;
    border-radius: 5px;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 0vw 1vh 0vw;
    width: 60vw;
}

/* #actualUser {
    text-align: center;
    font-size: 2em;
} */
/* **********************LOGIN********************* */
/* CSS for global setting of form div common with the rules div in the index*/
@media screen and (min-width:993px) {
    .divConnexion {
        margin-left: 20vw;
        margin-right: 20vw;
    }   
}

/* **********************PROFILE & GAME********************* */
h2 {
    text-align: center;
}
/* **********************PROFILE************************ */
#imagesGrid {
    display:none;
    width: 30vw;
}

/* **********************GAME********************* */
.rules {
    display : block;
    text-align: center;
    font-size: 1,5rem;
}

.game {
    display:flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
td {
    display: table-cell;
    height: 150px;
    width: 150px;
    background-color: rgb(38, 54, 54);
    text-align: center;
    border: 1px solid rgb(38, 54, 54);
    border-collapse: collapse;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (min-width: 700px) and (max-width:907px){
    td {
        height: 100px;
        width: 100px;
    }
}
@media screen and (min-width:500px) and (max-width: 700px){
    td {
        height: 75px;
        width: 75px;
    }
}
@media screen and (max-width:500px){
    td {
        height: 50px;
        width: 50px;
    }
}
td:hover {
    border: 1px rgba(250, 235, 215, 0.726) solid;
}

.noClick {
    pointer-events: none;
}
.gameimg {
    width: 100%;
}